---
layout: default
title: About
---
<section class="container news" style="height: 240px;">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>关于</h1>
			<div class="navy-line"></div>
			<p>我们是追梦的人。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center">
				<h2>使命</h2>
				<p>改变现状，提升影响力，迎接更大的挑战</p>
		</div>
		<div class="col-md-4 text-center">
				<h2>期待</h2>
				<p>积极 激情 活力</p> 
		</div>
		<div class="col-md-4 text-center">
				<h2>梦想</h2>
				<p>打造NB团队，做出NB产品。</p>
		</div>
	</div>
</section>
<section class="container team-work">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>活动</h1>
			<div class="navy-line"></div>
			<p>能干活，能玩耍。快乐工作，享受生活.</p>
		</div>
	</div>
	<div class="row">
		<div class="superbox col-sm-12">
			<div class="superbox-list">
				<img src="../static/images/1.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/2.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/3.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/4.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/5.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/6.jpeg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/7.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/8.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/9.jpeg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-list">
				<img src="../static/images/10.jpg" alt="团队活动" title="团队活动" class="superbox-img">
			</div>
			<div class="superbox-float"></div>
		</div>
	</div>
</section>
<section class="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>团队</h1>
				<div class="navy-line"></div>
				<p>团队的每个人能够在专业领域有所成就,打造一款真真切切给人们带来方便,好用的产品.并为之努力奋斗.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3">
				<div class="personal">
					<img src="../static/images/person01.png">
					<div class="comment">
						<p>多年产品开发经验.精通Java，PHP，JavaScript等多门开发语言。梦想成为一个nb的开发者。</p>
					</div>
					<hr>
					<h4>王某某</h4>
					<div class="row">
						<a href="#"><img src="../static/images/weibo.png"></a>
						<a href="#"><img src="../static/images/wechat.png"></a>
						<a href="#"><img src="../static/images/GitHub.png"></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="personal">
					<img src="../static/images/person02.png">
					<div class="comment">
						<p>前端开发，了解各种主流技术，新技术的尝鲜者和推广者。热衷生活，热衷开发。</p>
					</div>
					<hr>
					<h4>杨某某</h4>
					<div class="row">
						<a href="#"><img src="../static/images/weibo.png"></a>
						<a href="#"><img src="../static/images/wechat.png"></a>
						<a href="#"><img src="../static/images/GitHub.png"></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="personal">
					<img src="../static/images/person03.png">
					<div class="comment">
						<p>多年iOS开发经验，精通OC,Swift语言。精通多种第三方库，并且维护多个开源项目。</p>
					</div>
					<hr>
					<h4>李某某</h4>
					<div class="row">
						<a href="#"><img src="../static/images/weibo.png"></a>
						<a href="#"><img src="../static/images/wechat.png"></a>
						<a href="#"><img src="../static/images/GitHub.png"></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="personal">
					<img src="../static/images/person04.png">
					<div class="comment">
						<p>设计师，善于发现生活的美，兴趣摄影，绘画。正在迈向艺术人生的道路上。</p>
					</div>
					<hr>
					<h4>王某某</h4>
					<div class="row">
						<a href="#"><img src="../static/images/weibo.png"></a>
						<a href="#"><img src="../static/images/wechat.png"></a>
						<a href="#"><img src="../static/images/GitHub.png"></a>
					</div>
				</div>
			</div>
		</div>
</section>