<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav justify-content-center">
        <li><a href="/views/category/frontend.html">前端[{{ site.categories.frontend | size }}]</a></li>
        <li><a href="/views/category/backend.html">后端[{{ site.categories.backend | size }}]</a></li>
        <li><a href="/views/category/ios.html">iOS[{{ site.categories.ios | size }}]</a></li>
        <li><a href="/views/category/android.html">Android[{{ site.categories.android | size }}]</a></li>
        <li><a href="/views/category/uiux.html">设计[{{ site.categories.uiux | size }}]</a></li>
        <li><a href="/views/category/test.html">测试[{{ site.categories.test | size }}]</a></li>
        <li><a href="/views/category/operation.html">运维[{{ site.categories.operation | size }}]</a></li>
        <li><a href="/views/category/others.html">其他[{{ site.categories.others | size }}]</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>