body {
  margin: 0 auto;
  font-family: 微软雅黑, "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, 宋体; -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.8;
  color: #615b5b;
  background: #fff;
  padding-top: 72px;
}

.header-active {
  border-bottom: 4px solid #9b4dca;
}

.navbar-default .navbar-nav .header-active >a {
  color: #9b4dca;
  background: white;
}

.color-primary {
  color:#9b4dca
}

.c-one-b {
  background-color:#e86b62;
}

.c-two-b {
  background-color:#5Bc4E4;
}

.c-three-b {
  background-color:#9b4dca;
}

.c-four-b {
  background-color:#82DFD6;
}

.c-five-b {
  background-color:#53B0E7;
}

.c-six-b {
  background-color:#F9D163;
}

.index-team {
  height: 500px;
  text-align: center;
}

.index-news {
  height: 400px;
  text-align: center;
}

.bs-docs-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 18px;
}

.bs-docs-footer-links li {
  display: inline-block;
}

.circle {
  /*background-color: #e86b62;*/
  height: 70px;
  width: 70px;
  border-radius: 35px 35px;
  color: white;
  margin: 2px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.circle a {
  line-height: 70px;
  height: 70px;
  text-align: center;
  width: 70px;
  color: white;
  font-size: 18px;
}

.p-large {
  font-size:20px;
}

.card-git {
  float: left;
  width: 360px;
  height: 100px;
  display: inline-table;
  border: 2px solid #fff;
  margin: 10px;
}

.card-git .detail {
  font-size: 12px !important;
  margin-top: 8px !important;
  color: #767676 !important;
}

.card-git .detail a {
  margin-right: 16px !important;
  color: #767676 !important;
  position: relative;
  text-decoration: none;
}

.repo-language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.octicon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
}