---
layout: default
---
{% include /blog_nav.html %}

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8" style="margin-bottom: 20px;">
            <header>
                <h3>
                    {% if page.original %}
                    <span class="post-original">原</span>
                    {% else %}
                    <span class="post-recommend">转</span>
                    {% endif %}
                    <a style="color:black" href="{{ post.url }}">{{ page.title }}</a>
                </h3>
                <p class="info">
                    <span><img src="/static/images/createdAt.png" alt="">&nbsp;&nbsp;{{ page.auth | default: "匿名" }}</span>
                    <span><img src="/static/images/date.png" alt="">&nbsp;&nbsp;{{page.date | date: "%Y年%-m月%d日"}}</span>
                    <span><img src="/static/images/words.png" alt="">&nbsp;&nbsp;{{page.content | strip_html | strip_newlines | size  }}字</span>
                    <span><img src="/static/images/time.png" alt="">&nbsp;&nbsp;{{page.content | strip_html | strip_newlines | size | divided_by:350 | round  }}分钟</span>
                </p>
            </header>
            <section class="markdown-body" style="margin-top: 15px;">
                {{ content }}
            </section>
            <footer style="margin-top: 20px;">
                {% if page.previous %}
                <a href="{{ page.previous.url }}" class="pull-left">&larr; 上一篇</a> {% endif %}
                {% if page.next %}
                <a href="{{ page.next.url }}" class="pull-right">下一篇 &rarr;</a> {% endif %}
            </footer>
            <!--<ul class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="0" data-excerpt-length="18"></ul>
            <ul class="ds-recent-visitors" data-num-items="5" data-avatar-size="40"></ul>
             多说评论框 start -->
            <!-- <div id="comments">
                <div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"></div>
            </div> -->
            <!-- 多说评论框 end -->
            <div id="uyan_frame"></div>
        </div>
        <div class="col-lg-4  col-md-4" style="margin-top: 20px;">
        {% if page.catalog %}
        <div class="side-catalog fixed">
            <ul class="catalog-body"></ul>
        </div>
        <script src="/static/js/toc.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".catalog-body").toc();

                $("#headerNav").on("click", "a", function(e) {
                  console.log($(e.target));
                })
            });
        </script>
        {% endif %}
        </div>
    </div>
  </div>
</article>

{% include /duoshuo.html %}